Config { font = "xft:MetaBookLFC:size=10:antialias=true"
    , additionalFonts = [ "xft:MetaBoldLFC:size=10:antialias=true"
                        , "xft:MetaNormalLFC:size=10:antialias=true"
                        , "xft:MetaMediumLFC:size=10:antialias=true"
                        ]
    , borderColor = "#333333"
    , border = BottomB
    , bgColor = "#333333"
    , fgColor = "#cccccc"
    , alpha = 255
    , position = Static { xpos = 300, ypos = 0, width = 120, height = 20 }
    , textOffset = 15
    , iconOffset = -1
    , lowerOnStart = True
    , pickBroadest = False
    , persistent = False
    , hideOnStart = False
    , iconRoot = "/home/valentin/.xmonad/icons"
    , allDesktops = False
    , overrideRedirect = True
    , commands =
        [ Run Weather "UIII"
            [ "-t","<station>: <tempC> °C,  <windMs> m/s"
            , "-L","18","-H","25"
            , "--normal","green"
            , "--high","red"
            , "--low","lightblue"
            ] 12000
        , Run Network "wlp2s0"
            [ "-t"
            , "<icon=net_up_03.xbm/> <tx> KB / <icon=net_down_03.xbm/> <rx> KB"
            ] 20
        , Run Cpu
            [ "-t"
            , "<icon=cpu.xbm/><total>%"
            , "-p", "3"
            , "-m", "0"
            , "-M", "10"
            , "-L", "25"
            , "-H", "60"
            , "--normal", "yellow"
            , "--high", "red"
            ] 10
        , Run Memory
            ["-t"
            , "<icon=mem.xbm/><usedratio>%"
            , "-p"
            , "3"
            ] 5
        , Run Swap
            ["-t"
            , "<icon=swap.xbm/><usedratio>%"
            , "-w", "4"
            ] 5
        , Run Date
            "%a %_d %b %H:%M"
            "date"
            600
        , Run DiskIO
            [ ( "sda", "R:<read> / W:<write>" ) ]
            [ "-L"
            , "5000"
            , "-H"
            , "12000"
            , "--normal", "#00aa00"
            , "--high", "red"
            ] 20
        , Run XMonadLog
        ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = "%cpu%"
}
