Config { font = "xft:MetaBookLFC:size=10:antialias=true"
    , additionalFonts = [ "xft:MetaBoldLFC:size=10:antialias=true"
                        , "xft:MetaNormalLFC:size=10:antialias=true"
                        , "xft:MetaMediumLFC:size=10:antialias=true"
                        ]
    , borderColor = "#cccccc"
    , border = BottomB
    , bgColor = "#c2c2c2"
    , fgColor = "#333333"
    , alpha = 255
    , position = Static { xpos = 300, ypos = 0, width = 120, height = 20 }
    , textOffset = 15
    , iconOffset = -1
    , lowerOnStart = True
    , pickBroadest = False
    , persistent = False
    , hideOnStart = False
    , iconRoot = "/home/valentin/.xmonad/icons"
    , allDesktops = False
    , overrideRedirect = True
    , commands =
        [ Run Weather "UIII"
            [ "-t","<station>: <tempC> °C,  <windMs> m/s"
            , "-L","18","-H","25"
            , "--normal","#59a909"
            , "--high","#c00b28"
            , "--low","#058fc9"
            ] 12000
        , Run Network "wlp2s0"
            [ "-t"
            , "<icon=net_up_03.xbm/> <tx> KB <fc=#ffffff><icon=wireless5.xbm/></fc> <icon=net_down_03.xbm/> <rx> KB"
            ] 20
        , Run Cpu
            [ "-t"
            , "  <fc=#ffffff><icon=cpu.xbm/></fc><total>%"
            , "-p", "3"
            , "-m", "0"
            --, "-M", "10"
            , "-L", "25"
            , "-H", "50"
            , "--normal", "#c46c01"
            , "--high", "#c42201"
            ] 10
        , Run Memory
            ["-t"
            , "<fc=#ffffff><icon=mem.xbm/></fc><usedratio>%"
            , "-p"
            , "3"
            ] 5
        , Run Swap
            ["-t"
            , "<fc=#ffffff><icon=swap.xbm/></fc><usedratio>%"
            , "-w", "4"
            ] 5
        , Run Date
            "%a %_d %b %H:%M"
            "date"
            600
        , Run DiskIO
            [ ( "sda", "<fc=#ffffff><icon=stop.xbm/></fc> <total>" ) ]
            [ "-L"
            , "50000"
            , "-H"
            , "120000"
            , "--normal", "#00aa00"
            , "--high", "#c00b28"
            ] 20
        , Run XMonadLog
        , Run BatteryP ["BAT0"]
            [ "-t", "<fc=#ffffff><timeleft></fc>  |  <acstatus>, <left>% ",
              "-L", "10", "-H", "80", "-p", "3",
              "--"
              , "-O", "<fc=#3b9b2e>Заряд</fc>"
              , "-o", "<fc=#992a2a>Разряд</fc>"
              , "-i", "<fc=#2a8199>От сети</fc>",
              "-L", "-15", "-H", "-5",
              "-l", "#c00b28", "-m", "red", "-h", "#59a909"
            ] 600
        ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = "%cpu%"
}
